#root {
  margin: 0 auto;
  text-align: center;

  --color-gold: rgba(233, 223, 153, 1);  /* Color principal */
  --color-lightgold: rgba(237, 229, 173, 1);  /* Color 20% */
  --color-extralightgold: rgba(244, 239, 204, 1);  /* Color 50% */
  
  --color-brown: rgba(163, 133, 78, 1);  /* Color principal */
  --color-lightbrown: rgba(181, 157, 113, 1);  /* Color 20% */
  --color-extralightbrown: rgba(209, 194, 167, 1);  /* Color 50% */

  --color-black: rgba(0, 0, 0, 1);  /* Color principal */
  --color-lightblack: rgba(51, 51, 51, 1);  /* Color 20% */
  --color-extralightblack: rgba(128, 128, 128, 1);  /* Color 50% */







  --color-gray: #c4c4c4;


  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-neutral-dark: hsl(234, 12%, 34%);
  --color-neutral-gray: hsl(229, 6%, 66%);
  --color-neutral-white: hsl(0, 0%, 98%);
  --weight-light: 200;
  --weight-regular: 400;
  --weight-bold: 600;
}

.shadow_navbar {
  box-shadow: 0px 4px 20px 0px rgba(29, 29, 29, 0.27) !important;
}




.footer{
  margin-top: 10px;
  padding-bottom: 20px;
  position: relative;
  z-index: 99;
  /* border-top-color: var(--color-extralightblack);
  border-top: 1px; */


}
.footer>div{
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--color-extralightblack); */
  /* border-top-color: var(--color-extralightblack); */
  border-top-color: white;
  border-top: 1px;
}
.footer>div>h5{
  margin-top: 25px;
  color: var(--color-gold);
}
.icon-size{
  /* font-size: 30px; */
  /* color: var(--color-gold); */
  color: var(--color-gold) !important;

}
.icon-container{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 15px 0;
}
.icon-circle{
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background-color: var(--color-gold); */
  justify-content: center;
  align-items: center;
}

.a-decoration{
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  /* background: #ccc; */
  text-decoration: none;
  color: var(--color-gold) !important;
  margin: 0 10px;
  transition: .5s;
}
.a-decoration span{
  position: absolute;
  transition: transform .5s;
}
.a-decoration span:nth-child(1),
.a-decoration span:nth-child(3){
  width: 100%;
  height: 1px;
  background: var(--color-gold);
}
.a-decoration span:nth-child(1){
  top: 0;
  left: 0;
  transform-origin: right;
}
.a-decoration:hover span:nth-child(1){
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}

.a-decoration span:nth-child(3){
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.a-decoration:hover span:nth-child(3){
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}


.a-decoration span:nth-child(2),
.a-decoration span:nth-child(4){
  width: 1px;
  height: 100%;
  background: var(--color-gold);
}
.a-decoration span:nth-child(2){
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
}
.a-decoration:hover span:nth-child(2){
  transform: scaleY(1);
  transform-origin: top;
  transition: transform .5s;
}

.a-decoration span:nth-child(4){
  top: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
}
.a-decoration:hover span:nth-child(4){
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform .5s;
}



/* imagenes estetica */
.wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.boxPortfolio{
  position: relative;
  width: auto;
  border-radius: 15px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  overflow: hidden;
  box-shadow: 0px 0px 50px rgba(66,66,66,.34901960784313724), inset 0px 0px 50px rgba(66,66,66,.34901960784313724);
  transition: all 500ms ease-out;
}

/* img */
.imgPortfolio{
  position: relative;
  width: 450px;
  height: auto;
  overflow: hidden;
  transition: all 500ms ease-out;
}
/* capa */
.cap{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(51, 51, 51, 0.707);
  /* background: #565a7e82; */
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.boxPortfolio>.ejemplo:hover > .cap{
  opacity: 1;
  visibility: visible;
}
.boxPortfolio>.ejemplo:hover > .cap .infoHover2{
  margin-top: 90px;
  margin-bottom: 15px;
}
.boxPortfolio>.ejemplo > .cap .infoHover2{
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}
.boxPortfolio>.ejemplo > .cap p{
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 200px;
  margin: auto;
}
.infoHover{
  display: flex;
  flex-direction: column;
  color: var(--color-lightgold) !important;
}
.infoHover2{
  display: flex;
  flex-direction: column;
  color: var(--color-lightgold) !important;
}
.infoHover2>b{
  color: var(--color-lightgold);
  /* color: #fff; */
  font-size: 35px;

}
.imgHover{
  width: 80px;
  /* background-color: #565a7e20; */
}
